<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" type="text/css" href="https://bootswatch.com/4/pulse/bootstrap.min.css">
    <title>Google Calender Authentication</title>
    <style>
        .customborder {
            border-radius: 2%;
            border: 2px solid #593196;
        }
    </style>
    <script>
        // console.log(res_arr)
        // console.log(calEvents)
    </script>
</head>

<body>
    <div class="container">
        <h3 class="text-center p-3">Google Calender Events</h3>
        <!-- <div style="margin: 0 auto;" class="col-12 col-md-6 col-lg-5 p-5 customborder"> -->
            

            <% if (success_message != ''){ %>
            <div class="alert alert-dismissible alert-success">
                <button type="button" class="close" data-dismiss="alert">&times;</button>
                <strong> <%= success_message %> </strong>
            </div>
            <% } %>
            <% if(error != '') {%>
            <div class="alert alert-dismissible alert-danger">
                <button type="button" class="close" data-dismiss="alert">&times;</button>
                <strong> <%= error %> </strong>
            </div>
            <%}%>
            <% for(var i=0; i < calEvents.length; i++) { %>

                <div class="card border-primary mb-3" style="max-width: 20rem;">
                    <div class="card-header"><%= calEvents[i].title %></div>
                    <div class="card-body">
                    <h6 class="card-title">Organizer: <%= calEvents[i].organizer %> </h6>
                    <h6 class="card-title">Starts On: <%= calEvents[i].startTime %> </h6>
                    <h6 class="card-title">Ends On: <%= calEvents[i].endTime %> </h6>
                    <h6 class="card-title">Link to Event: <%= calEvents[i].hangoutLink %> </h6>
                    <h6 class="card-title">Status of the Event: <%= calEvents[i].status %> </h6>
                    <!-- <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p> -->
                    </div>
                </div>
            <%}%>
            <a style="float: right;" class="btn btn-danger" href="/success">Dashboard</a>

        <!-- </div> -->
    </div>

    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
        integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
        integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
        crossorigin="anonymous"></script>
</body>

</html>